// SPDX-License-Identifier: (GPL-2.0-or-later OR MIT)
/*
 * Device Tree Source for Orange Pi 4 Pro
 *
 * Based on Allwinner A733 SoC
 */

/dts-v1/;

#include "sun60i-a733.dtsi"

/ {
	model = "Orange Pi 4 Pro";
	compatible = "xunlong,orangepi-4-pro", "allwinner,sun60i-a733", "arm,v8";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		serial2 = &uart2;
	};

	chosen {
		stdout-path = "serial2:115200n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

		bl31@48000000 {
			reg = <0x48000000 0x01000000>;
			no-map;
		};
	};

	vcc5v: vcc5v {
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_ddr: vcc-ddr {
		compatible = "regulator-fixed";
		regulator-name = "vcc-ddr";
		regulator-min-microvolt = <1500000>;
		regulator-max-microvolt = <1500000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_pll: vcc-pll {
		compatible = "regulator-fixed";
		regulator-name = "vcc-pll";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		regulator-boot-on;
	};

	vcc_pcie3v3: vcc-pcie3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc-pcie3v3";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		gpio = <&r_pio 0 3 GPIO_ACTIVE_HIGH>; /* PL3: PCIE_PWREN_H */
		regulator-boot-on;
	};

	usb0_vbus: usb0-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb0-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-high;
		gpio = <&pio 4 9 GPIO_ACTIVE_HIGH>; /* PE9: USB20_EN */
		regulator-boot-on;
	};

	usb1_vbus: usb1-vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb1-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		enable-active-low;
		gpio = <&pio 1 7 GPIO_ACTIVE_LOW>; /* PB7: PWREN1# */
		regulator-always-on;
		regulator-boot-on;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		clocks = <&osc24M>;
		clock-frequency = <26000000>;
		reset-gpios = <&r_pio 1 1 GPIO_ACTIVE_LOW>; /* PM1: WL_REG_ON */
		post-power-on-delay-ms = <200>;
	};

	rfkill_bt: rfkill-bt {
		compatible = "rfkill-gpio";
		label = "rfkill-bluetooth";
		radio-type = "bluetooth";
		enable-gpios = <&r_pio 1 2 GPIO_ACTIVE_HIGH>; /* PM2: BT_REG_ON */
	};

	leds {
		compatible = "gpio-leds";

		led-green {
			label = "green-led";
			gpios = <&pio 1 6 GPIO_ACTIVE_HIGH>; /* PB6: PWM_LED1 */
			default-state = "on";
		};
	};
};

&r_pio {
	/* R_PIO pins (PL bank only) */
	r_i2c0_pins: r-i2c0-pins {
		pins = "PL0", "PL1";
		function = "r_i2c0";
		drive-strength = <40>;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_ph8_pins>;
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_rts_cts_pins>;
	uart-has-rtscts;
	status = "okay";

	bluetooth {
		compatible = "aic,aic8800";
		enable-gpios = <&r_pio 1 2 GPIO_ACTIVE_HIGH>; /* PM2: BT_REG_ON */
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart2_pins>;
	status = "okay";
};

&i2c5 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c5_pins>;
	status = "okay";

	gt9271: touchscreen@14 {
		compatible = "goodix,gt9271";
		reg = <0x14>;
		interrupt-parent = <&pio>;
		interrupts = <9 25 IRQ_TYPE_LEVEL_HIGH>; /* PJ25 */
		reset-gpios = <&pio 6 10 GPIO_ACTIVE_HIGH>; /* PG10 */
		touchscreen-inverted-x;
		touchscreen-swapped-x-y;
		touchscreen-size-x = <1280>;
		touchscreen-size-y = <800>;
		pinctrl-names = "default";
		pinctrl-0 = <&gt9271_irq_pin>;
	};
};

&i2c7 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c7_pins>;
	status = "okay";

	es8388: audio-codec@10 {
		compatible = "everest,es8388";
		reg = <0x10>;
		assigned-clocks = <&ccu CLK_AUDIO>;
		assigned-clock-rates = <24576000>;
		clocks = <&ccu CLK_AUDIO>;
		clock-names = "mclk";
	};
};

&r_i2c0 {
	pinctrl-names = "default";
	pinctrl-0 = <&r_i2c0_pins>;
	status = "okay";

	axp8191: pmic@36 {
		compatible = "x-powers,axp8191";
		reg = <0x36>;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		interrupt-controller;
		#interrupt-cells = <1>;

		pmu-reset;
		pmu_irq_wakeup;
		pmu_hot_shutdown;
		wakeup-source;
		x-powers,drive-vbus-en;

		regulators {
			rtcldo {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-rtcldo";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dcdc1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc1";
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3800000>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dcdc2: dcdc2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dcdc3: dcdc3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dcdc4: dcdc4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dcdc5: dcdc5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1540000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dcdc6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <2760000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dcdc7 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc7";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1840000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dcdc8 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc8";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dcdc9 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dcdc9";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			aldo1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-aldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			aldo2 {
				regulator-name = "axp8191-aldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			aldo3 {
				regulator-name = "axp8191-aldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			aldo4 {
				regulator-name = "axp8191-aldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			aldo5 {
				regulator-name = "axp8191-aldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			aldo6 {
				regulator-name = "axp8191-aldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			bldo1 {
				regulator-name = "axp8191-bldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			bldo2 {
				regulator-name = "axp8191-bldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			bldo3 {
				regulator-name = "axp8191-bldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			bldo4 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-bldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			bldo5 {
				regulator-name = "axp8191-bldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			cldo1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-cldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
			};

			cldo2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-cldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
			};

			cldo3 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-cldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
			};

			cldo4 {
				regulator-name = "axp8191-cldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3500000>;
				regulator-enable-ramp-delay = <1000>;
			};

			cldo5 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-cldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dldo1: dldo1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			reg_dldo2: dldo2 {
				regulator-name = "axp8191-dldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dldo3 {
				regulator-name = "axp8191-dldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dldo4 {
				regulator-name = "axp8191-dldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dldo5 {
				regulator-name = "axp8191-dldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dldo6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			eldo1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-eldo1";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			eldo2 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-eldo2";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			eldo3 {
				regulator-name = "axp8191-eldo3";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			eldo4 {
				regulator-name = "axp8191-eldo4";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			eldo5 {
				regulator-name = "axp8191-eldo5";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			eldo6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-eldo6";
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <3400000>;
				regulator-enable-ramp-delay = <1000>;
			};

			dc1sw1: dc1sw1 {
				regulator-always-on;
				regulator-boot-on;
				regulator-name = "axp8191-dc1sw1";
			};

			dc1sw2 {
				regulator-always-on;
				regulator-name = "axp8191-dc1sw2";
			};
		};
	};
};

&mmc0 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc0_pins>, <&mmc0_cd_pin>;
	vmmc-supply = <&reg_dldo1>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_LOW>; /* PF6 */
	bus-width = <4>;
	status = "okay";

	#address-cells = <1>;
	#size-cells = <0>;
	sdcard: sd@0 {
		compatible = "sd-card";
		reg = <0>;
		status = "okay";
	};
};

&mmc1 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc1_pins>;
	vmmc-supply = <&reg_dldo2>;
	mmc-pwrseq = <&wifi_pwrseq>;
	bus-width = <4>;
	cap-sdio-irq;
	cap-sd-highspeed;
	cap-mmc-highspeed;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	status = "okay";

	sdio_wifi: sdio@1 {
		compatible = "brcm,bcm4329-fmac";
		reg = <1>;
		interrupt-parent = <&r_pio>;
		interrupts = <1 0 IRQ_TYPE_EDGE_FALLING>; /* PM0 */
		interrupt-names = "host-wake";
	};
};

&mmc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&mmc2_pins>;
	vmmc-supply = <&reg_dldo1>;
	bus-width = <8>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-ddr-1_8v;
	non-removable;
	status = "okay";

	emmc: emmc@0 {
		compatible = "mmc-card";
		reg = <0>;
		status = "okay";
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi0_pc_pins>;
	status = "okay";

	flash@0 {
		compatible = "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <50000000>;
		spi-rx-bus-width = <1>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "u-boot";
				reg = <0x0 0xf0000>;
			};

			partition@1 {
				label = "env";
				reg = <0xf0000 0x10000>;
			};

			partition@2 {
				label = "root";
				reg = <0x100000 0xf00000>;
			};
		};
	};
};

&gmac0 {
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii0_pins>;
	phy-mode = "rgmii";
	phy-handle = <&ext_gmac0_phy>;
	tx-delay = <12>;
	rx-delay = <10>;
	phy-supply = <&dc1sw1>;
	status = "okay";

	mdio0: mdio {
		ext_gmac0_phy: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
			reset-gpios = <&pio 7 16 GPIO_ACTIVE_LOW>; /* PH16 */
			reset-assert-us = <10000>;
			reset-deassert-us = <30000>;
		};
	};
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	status = "okay";
};

&ehci {
	status = "okay";
};

&ohci {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pcie {
	reset-gpios = <&pio 3 22 GPIO_ACTIVE_LOW>; /* PD22 */
	vpcie3v3-supply = <&vcc_pcie3v3>;
	status = "okay";
};

&ths {
	pinctrl-names = "default";
	pinctrl-0 = <&ths_pin>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&gpu {
	mali-supply = <&reg_dcdc4>;
	status = "okay";
};

&ce {
	status = "okay";
};

&msgbox {
	status = "okay";
};

&hwspinlock {
	status = "okay";
};

&nmi_intc {
	status = "okay";
};

&iommu {
	status = "okay";
};

&pio {
	/* UART2 pins (PB0/PB1 = main PIO domain) */
	uart2_pins: uart2-pins {
		pins = "PB0", "PB1";
		function = "uart2";
	};

	gt9271_irq_pin: gt9271-irq-pin {
		pins = "PJ25";
		function = "gpio";
		drive-strength = <10>;
		bias-pull-up;
	};

	ths_pin: ths-pin {
		pins = "PB12";
		function = "gpio";
		drive-strength = <10>;
	};
};

&cpu0 { cpu-supply = <&reg_dcdc5>; };
&cpu1 { cpu-supply = <&reg_dcdc5>; };
&cpu2 { cpu-supply = <&reg_dcdc5>; };
&cpu3 { cpu-supply = <&reg_dcdc5>; };
&cpu4 { cpu-supply = <&reg_dcdc5>; };
&cpu5 { cpu-supply = <&reg_dcdc5>; };
&cpu6 { cpu-supply = <&reg_dcdc3>; };
&cpu7 { cpu-supply = <&reg_dcdc3>; };
